.t-1 {
  background-color: black;
  color: white;
}

.prev-ha {
  padding-left: 2rem;
}
.prev-ha__title {
  color: gray;
}

.small, .sm, .s {
  font-size: .7em;
}

.hint-spoiler {
  padding: 2rem;
  background-color: rgb(219, 219, 219);
}